<div class="container">
  <h1>Gerador de Senha</h1>

  <label for="tamanhoSenha">Escolha o tamanho da senha</label>
  <input id="tamanhoSenha" type="number" [(ngModel)]="tamanhoSenha" min="4" max="20" />

  <label>O que deseja incluir na senha: </label>

     <div class="opcoes">
    <label>
      <input type="checkbox" [(ngModel)]="usarMaiusculas" /> Incluir maiúsculas
    </label>
    <label>
      <input type="checkbox" [(ngModel)]="usarNumeros" /> Incluir números
    </label>
    <label>
      <input type="checkbox" [(ngModel)]="usarSimbolos" /> Incluir caracteres especiais
    </label>
  </div>

  <button (click)="gerarSenha()">Gerar Senha</button>

  <div class="senha-container" *ngIf="senhaGerada">
    <input type="text" [value]="senhaGerada" readonly />
    <button (click)="copiarSenha()" class="copiar-btn">Copiar</button>
  </div>
</div>
